# Macro attribute: Files intended for LFS
[attr]lfs-file filter=lfs diff=lfs merge=lfs -text

# Macro attribute: Files with Unity's yaml format
# linguist-generated means the file is ignored for the repository's language statistics and diffs are hidden by default.
[attr]unity-yaml-file merge=unityyamlmerge eol=lf filter=lfs diff=lfs 

## Unity ##
*.cs diff=csharp text
*.cginc text
*.shader text
*.mat unity-yaml-file
*.anim unity-yaml-file
*.unity unity-yaml-file
*.prefab unity-yaml-file
*.physicsMaterial2D unity-yaml-file
*.physicMaterial unity-yaml-file
*.asset unity-yaml-file
*.meta unity-yaml-file
*.unitypackage unity-yaml-file
*.controller unity-yaml-file

#Image
*.cubemap lfs-file
*.tga lfs-file
*.jpg lfs-file
*.jpeg lfs-file
*.png lfs-file
*.gif lfs-file
*.psd lfs-file
*.ai lfs-file
*.tif lfs-file
*.hdr lfs-file

#Audio
*.mp3 lfs-file
*.wav lfs-file
*.ogg lfs-file

#Video
*.mp4 lfs-file
*.mov lfs-file

#3D Object
*.[Ff][Bb][Xx] lfs-file
*.blend lfs-file
*.obj lfs-file

#ETC
*.a lfs-file
*.exr lfs-file
*.tga lfs-file
*.pdf lfs-file
*.dll lfs-file
*.dll.disabled lfs-file
*.aif lfs-file
*.ttf lfs-file
*.rns lfs-file
*.reason lfs-file
*.lxo lfs-file
*.dylib lfs-file
*.aar lfs-file
*.glb lfs-file
*.so lfs-file

# Packaging
*.zip lfs-file
*.7z lfs-file
*.gz lfs-file
*.rar lfs-file
*.tar lfs-file
